**/.git
**/.github
**/.vscode
**/.DS_Store
**/*.map
**/*.ts
**/tsconfig.json
**/test/**
**/node_modules/**
**/*.log
**/*.vsix
**/companion/node_modules/**
**/companion/.gitignore
**/companion/**/*.md
**/scripts/**
**/*.ps1
!out/**
!companion/**
!assets/**
!README.md
!LICENSE
!icon.png
!package.json
